* {
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth !important;
}

body {
  opacity: 1;

  background-color: rgba(241, 242, 243, 255);
  transition-duration: 0.7s;
  transition-property: opacity;
}

.row {
  margin: 0!important;
}

.carousel-item {
  height: 65vh;
  width: 100vw;
  background-size: cover;
}

.custom-carousel1{
  position:relative;
  bottom:15vmin;
  right:5vw;
  max-height:45vh;
  overflow-y:scroll;
  background-color:rgba(0, 0, 0, 0.4);
}

.navbar-collapse{
  z-index:10;
}

.palette1{
  background-color:#E9F5DB;
}
.palette2{
  background-color:#CFE1B9;
}
.palette3{
  background-color:#b5c99a;
}
.palette4{
  background-color:#97a97c;
}
.palette5{
  background-color:#87986a;
}
.palette6{
  background-color:#718355;
}