* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
}

body {
  opacity: 1;

  background-color: rgba(241, 242, 243, 255);
  transition-duration: 0.7s;
  transition-property: opacity;
}

.row {
  margin: 0 !important;
}

.jumbotron {
  margin: 0 !important;
}

.carousel-item {
  height: 65vh;
  width: 100vw;
  background-size: cover;
}

.custom-carousel1 {
  position: relative;
  bottom: 15vmin;
  right: 5vw;
  max-height: 45vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators li {
  visibility: hidden;
}
.navbar-collapse {
  z-index: 10;
}

.indextop {
  z-index: 999;
}

.feetinteractive {
  top:0;
  left:0;
  background-repeat: no-repeat;
  position:relative;
}


.liver{
  position:absolute;
  width:50px;
  height:50px;
  top:0;
  right:0;
  background-color:green;
}

.space {
  width: 100vw;
  height: 15vh;
}

.palette1 {
  background-color: #34421E;
}
.palette2 {
  background-color: #f1f1ef;
}

.palette3 {
  background-color: #8ec23c;
}
.palette4 {
  background-color: #c19434;
}
.palette5 {
  background-color: #87986a;
}
.palette6 {
  background-color: #718355;
}